<div class="row">
	<div class="col-xs-12">
		<h2>Mes appareils</h2>
		<p>Mis à Jour: {{lastUpdate | async }}  </p>
		<ul class="list-group">
			<app-appareil *ngFor="let appareil of appareils; let i = index"
						  [indexOfAppareil]="i"
						  [appareilName]="appareil.name"
						  [appareilStatus]="appareil.status"
						  [id]="appareil.id">
						  </app-appareil>
		</ul>
		<button class="btn btn-success"
		 [disabled]="!isAuth"
		 (click) ="onAllumer()"
		  style="color: green;"> Tout allumer</button>
		  <button class="btn btn-danger" (click)="onEteindre()">ToutEteindre</button>
	</div>
</div>
